body {
    background-color: darkgray;
}

.oldal {
    background-color: lightgrey;
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 20px solid;
    border-color: #eeffee;
    border-radius: 25px;
}

p {
    text-align: justify;
}

h1 {
    text-align: center;
}

.kep_leiras {
    text-indent: 20px;
}

.text {
    padding: 20px;
}

img {
    width: 35%;
}

.indent {
    text-indent: 132px;
}

h2.quiz {
    text-align: center;
}

h3.quiz {
    text-align: center;
}

.td {
    background-color: black;
    color: white;
    width: 300px;
    height: 75px;
    text-align: center;
    margin: 20px;
    font-size: 31px;
    border-radius: 5px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.vaf {
    width: 100px;
    background-color: #444444;
    margin-right: 100px;
    text-align: center;
    margin: 20px;
    color: white;
    border-radius: 5px;
    height: 40px;
}

a { color: inherit; }

.rossz_válasz {
    margin: auto;
    width: 30%;
    text-align: center;
    font-size: 30px;
    background-color: #ffbbbb;
    color: #ff2222;
    border-radius: 5px;
}

.jó_válasz {
    margin: auto;
    width: 30%;
    text-align: center;
    font-size: 30px;
    background-color: #bbffbb;
    color: #22ff22;
    border-radius: 5px;
}

.quizlink {
    background-color: #222222;
    width: 390px;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    font-size: 40px;
    text-align: center;
    color: white;
}




